data/*
week_1_basics_n_setup/videos/2_docker_sql/docker_postgres/ny_taxi_postgres_data/*
week_1_basics_n_setup/videos/1_terraform_gcp/terraform/.terraform.lock.hcl
week_1_basics_n_setup/videos/1_terraform_gcp/terraform/.terraform/
week_1_basics_n_setup/videos/1_terraform_gcp/terraform/terraform.tfstate
week_1_basics_n_setup/videos/1_terraform_gcp/terraform/terraform.tfstate.backup
week_1_basics_n_setup/homework/.terraform.lock.hcl
week_1_basics_n_setup/homework/.terraform/*
week_1_basics_n_setup/homework/terraform.tfstate
week_1_basics_n_setup/homework/terraform.tfstate.backup
week_1_basics_n_setup/homework/.ipynb_checkpoints/*
week_2_workflow_orchestration/videos/01_start/yellow_tripdata_2021-01.csv.gz
week_2_workflow_orchestration/videos/data/*
week_2_workflow_orchestration/videos/data/yellow/yellow_tripdata_2021-01.parquet
week_2_workflow_orchestration/videos/01_start/__pycache__/*
week_2_workflow_orchestration/homework/data/*
week_2_workflow_orchestration/homework/flows/__pycache__/*
week_3_data_warehouse/homework/data/*
week_2_workflow_orchestration/videos/flows/03_deployments/data/*
week_5_batch_processing/videos/taxi*
.ssh
week_5_batch_processing/videos/.ipynb_checkpoints/*
week_5_batch_processing/videos/data/*
week_5_batch_processing/videos/fhvhv/*
week_5_batch_processing/videos/tmp/*
week_5_batch_processing/videos/zones/*
week_5_batch_processing/homework/data/*
